<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpy.system.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.rpy.system.domain.Role">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="available" jdbcType="INTEGER" property="available"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, remark, available, createtime
    </sql>
    <delete id="deleteRoleMenuByRid">
        delete from  sys_role_menu
        where rid=#{id}
    </delete>
    <delete id="deleteRoleMenuByMid">
     delete from  sys_role_menu
        where mid=#{id}
  </delete>
    <delete id="deleteUserMenuByRid">
     delete from  sys_role_user
        where rid=#{id}
  </delete>
    <delete id="deleteUserMenuByUid">
     delete from  sys_role_user
        where uid=#{id}
  </delete>
    <select id="queryMenuIdsByRid" resultType="java.lang.Integer">
        select mid from  sys_role_menu
        where rid=#{rid}
    </select>
    <insert id="saveRoleMenu">
        insert into sys_role_menu(rid, mid) values
        <foreach collection="mids" item="mid" separator=",">
            (#{rid},#{mid})
        </foreach>
    </insert>
    <select id="queryRoleIdByUid" resultType="java.lang.Integer">
        select rid from sys_role_user
        where uid=#{userid} ;
    </select>
    <insert id="saveUserRole">
        insert into sys_role_user(rid, uid) values
        <foreach collection="rids" separator="," item="rid">
            (#{rid} ,#{uid} )
        </foreach>
    </insert>
</mapper>